.prelogin-wrapper {
  @include flexbox(column, center, center, wrap);

  md-card.prelogin-card {
    font-size: 2rem;
    @include box-shadow(4);
  }

  .prelogin-logo {
    max-width: 100px;
  }

  .prelogin-title {
    color: $primary;
    margin-top: 0;
    font-weight: lighter;
  }
}
